.hero-section {
  background: no-repeat center;
  background-size: cover;

  .container {
    padding: 15rem 0;

    .hero-overlay {
      float: none;
      margin: 0 auto;
    }
  }

}

.hero-overlay {
  background: rgba(0, 0, 0, 0.3);
  float: none;
  padding: 3rem 5rem;

  hr {
    border-top: solid 4px #fff;
    width: 50%;
  }

  h1,
  p {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-weight: 700;
    margin: 0;
  }

}

.about-section {
  padding: 8.5rem 0;

  .one-half.column:first-child {
    margin-bottom: 2rem;
  }

  .about-article {
    float: none;
    margin: 0 auto !important;
  }

  .blue-header {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.4rem;
    color: #737373;
    margin-bottom: 1rem;
    &:last-child {
      margin: 0;
    }
  }

}

.about-img {
  max-width: 100%;
}
